# Ignore nested git repositories
microservices-go-starter-main/
driver/
customer/
bharatonewaytaxi/
sketchcabs/
cabigo/
vendor/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Tilt
.tilt_dev/

# Tools (Binaries)
tools/*.exe

# Shared UI
shared-ui/node_modules/
shared-ui/dist/
